
.app-header{
  background: linear-gradient(123deg,rgba(242,255,65,1),rgba(0, 106, 30, 1));
  color: blueviolet;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: 15px auto;
  padding: 2px 0px ;
}

.app-header h1{
  margin: 5px;
  padding: 5px;
  font-size: 28px;
}

.app-header p{
    margin-top: 8px;
    font-size: 16px;
    opacity: 0.9;
    padding: 5px;
}